<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <footer>
    <div class="footer-container">
      <div class="logo">
        <a href="/"><img src="/img/logo.svg" alt="呷甜甜"></a>
      </div>
      <div class="store-info">
        <h4>關於我們</h4>
        <ul class="aboutInfo">
          <li><i class="fas fa-phone"></i>04-23250588</li>
          <li><i class="fas fa-envelope"></i><a href="mailto: sweetbakery@email.com">sweetbakery@gmail.com</a></li>
          <li><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/maps">台中市南屯區公益路二段51號</a></li>
          <li><i class="fas fa-clock"></i>每日 11:30 - 18:00</li>
        </ul>
      </div>
      <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-line"></i>
      </div>
    </div>
    <div class="copyright">
      Copyright 2022 &copy SweetBakery
    </div>
  </footer>

</body>

</html>