@mixin section-heading{
  color: $text-color;
  margin: 8rem 5rem 3rem 5rem ;
  padding: 0 2rem;
  border-left: 10px solid $text-color;
  height: 3rem;
  font-size: 2rem;
}

@mixin page-heading($color){
  .page-heading{
      color: $color;
      font-size: 2.3rem;
      margin-top: 2rem;
    }
}

@mixin divider($width){
  background-color: $gray;
  height: 2px;
  width: $width#{'%'};
}

@mixin closeModal{
  position: absolute;
  top: -5px;
  right: 6px;
  font-size: 2.1rem;
  text-align: center;
  color: $darker-pink;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}

@mixin breadCrumbs{
  .breadcrumb{
    display: flex;
    align-items: end;
    margin: 0.3rem 3rem;
    font-size: 1.1rem;
    ul{
      display: flex;
      li{
        &:not(:first-child)::before{
          content: '\203A';
          margin: 0 5px;
        }
      }
    }
  }
}