//colors 
$pink: #FF91AF; 
$darker-pink: #ff90a0; 
$green: #E1EFD4; 
$red: #D9534F;
$background-color: #ffefc2; 
$text-color: #a54c4c; 
$gray: #ececec; 
$darker-gray: #8d8d8d;
$black: #4d4d4d;

//fonts
$primary-font: 'Noto Sans TC', sans-serif;