<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>

    <!-- ABOUT -->
    <section class="about">
      <div class="heading">
        <div class="page-heading">
          <h1>品牌形象</h1>
        </div>
        <div class="breadcrumb">
          <ul>
            <li><a href="/">首頁</a></li>
            <li><a href="">
                品牌形象
              </a></li>
          </ul>
        </div>
      </div>
      <div class="about-wrapper">

        <div class="content" data-aos="fade-right">
          <img src="/img/about1.jpeg">
          <p>
            「呷甜甜Sweet Bakery」是位於台中的甜點店，好吃的甜點不用華麗鋪張，純粹美味的內在就能療癒心靈。用好蛋糕，記憶美好生活蛋糕，擄獲全台灣許許多多熱愛甜點的朋友的心！

            而呷甜甜的美味秘訣，除了將「簡單不膩」貫徹到底以外，更有著使用好食材的堅持。即使是最常見的巧克力甜點，在呷甜甜也有著不同凡響的食材選用堅持。
          </p>
        </div>
        <div class="content odd" data-aos="fade-left" data-aos-delay="1000">
          <img src="/img/about2.jpeg">
          <p>
            <span>Sweet Bakery嚴選優質食材，簡單純粹的自然美味</span>
            <span>使用日本海藻糖-低糖度、低熱量，爽口不膩的清爽新選擇</span>
            <span>日本菓子粉-純小麥製作，100%純天然、無人工添加物</span>
            <span>法國發酵奶油-濃郁奶香，柔順絲滑的頂級奶油</span>

          </p>
        </div>
      </div>

      <%- include('partials/footer') %>
    </section>

    <!-- Javascript -->
    <%- include('javascript/script') %>

</body>

</html>